.Everything{
  color: gold;
  background-color: black;
  font-family: "Limelight", sans-serif;
  margin: 0px;
  line-height: 1.5;
}

.Navigation_Buttons{
  border-bottom:  5px solid;
  border-top: 5px solid;
  width: 100%;
  float: left;
}

.Buttons{
  float: right;
  background-color: black;
  color: gold;
  font-family: "Limelight", sans-serif;
  font-size: 30px;
  border: 15px;
  border-style: double;
  margin: 10px;
  width: 300px;
  height: 75px;
  overflow: hidden;
  cursor: pointer;
}

.Buttons:hover {
  background-color: crimson;
}

.Main_Content{
  float: left;
  width: 100%;
  text-align: center;
  border-bottom: 5px solid;
  border-color: gold;
  padding-bottom: 5px;
  padding-top: 5px;
}

.Star_Crest{
  float: left;
  padding-top: 10px;
  width: 100%;
  text-align: center;
}

.Language_Select {
  background-color: black;
  color: gold;
  font-family: "Limelight", sans-serif;
  font-size: 30px;
  border: 10px;
  border-style: double;
  margin: 5px;
  width: fit-content;
  height: fit-content;
  overflow: hidden;
  cursor: pointer;
}

.dropdown {
  float: right;
}

.dropdown-content{
  text-align: center;
  color: gold;
  display: none;
  position: absolute;
  background-color: black;
  font-size: 30px;
  margin: auto;
  margin-top: 70px;
  width: fit-content;
  height: fit-content;
  border: 15px;
  border-color: gold;
  border-style: double;
  align-content: center;
  overflow: hidden;
  padding: 5px;
  
}

.dropdown:hover .dropdown-content {
  display: block;
}

.Language_Select:hover {
  background-color: crimson;
}