.Portrait_Div{
  margin: 5px;
}

.Portrait{
  max-width: 300px;
  max-height: 400px;
  border: 15px;
  border-style: double;
}

.Introduction{
  margin: 5px;
}

.Portrait_Text{
  min-width: 300px;
  max-width: 600px;
  margin: 5px;
  border: 15px;
  border-style: double;
  overflow: hidden;
  margin: auto;
  font-size: 20px;
}